<h1>Movie lists</h1>
<div class="cards">
<% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png'%>)">
    <%= link_to list.name, list_path(list) %>
  </div>
  <% end %>
</div>
<%= link_to "create new list", new_list_path %>
